*.rar
*.zip
e/tests/index.php
e/extensions/index.php
e/packs/index.php
storage/*
/nbproject/private/
nbproject/
engine/extensions/*
!engine/extensions/delete_me
engine/hooks/*
!engine/extensions/delete_me
engine/modules/*
!engine/extensions/delete_me